.git
.gitignore
.gitattributes

compose.yaml
Dockerfile
.dockerignore

.env
.env.example

**/application-local.*
target
.idea
*.iml
docs
README.md
CLAUDE.md
NOTES.txt
mvnw.cmd
**/*.log
tmp/
docker-data/

scripts
**/.DS_Store
